<%= turbo_stream.replace "star-#{@technology.id}" do %>
  <%= render partial: "technologies/star_button", locals: { technology: @technology, starred: true } %>
<% end %>

<%= turbo_stream.replace "star-count-#{@technology.id}" do %>
  <span id="star-count-<%= @technology.id %>"><%= @technology.star_count %></span>
<% end %>
