<%= form_with model: project do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <%= form.submit %>
<% end %>