<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>

<h2>List of Open Source projects:</h2>

<p>Below you can find the name, category and GitHub link to the project.</p>

<div class="sort-controls-wrapper">
  <div class="sort-dropdown">
    <%= form_with url: projects_path, method: :get, local: true do |form| %>
      <%= select_tag :sort, options_for_select([["Name", "name"], ["Category", "category"], ["Stars", "stars"]], params[:sort]),
                     { include_blank: "Select Sort Order", onchange: "this.form.submit()" } %>
      <%= select_tag :direction, options_for_select([["Ascending", "asc"], ["Descending", "desc"]], params[:direction]),
                     { onchange: "this.form.submit()" } %>
    <% end %>
  </div>
</div>

<div id="projects">
  <ul class="project-list">
    <% @projects.each do |project| %>
      <li>
        <div class="project-card">
          <h3>          
            <div class="voting-buttons">
              <button class="vote-up" title="Upvote">▲</button>
              <button class="vote-down" title="Downvote">▼</button>
            </div>
            <strong><%= project.name %></strong>
          </h3>
          <p><strong>Category:</strong> <%= project.category %></p>
          <p><strong>GitHub:</strong> <a href="<%= project.url %>"><%= project.url %></a></p>
          <p><strong>Votes:</strong> <%= project.net_votes %></p>

        </div>
        
      </li>
    <% end %>
  </ul>
</div>
