<h1>Welcome to Code Rank</h1>

<p>
    The place to rank open source software.
</p>
<p>
    Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>
<!-- 
<h2>List of Open Source projects:</h2>

<p>Below you can find the name, category and GitHub link to the project. More information will follow!</p>

<div id="projects">
  <ul class="project-list">
    <% @projects.each do |project| %>
      <li>
        <div class="project-card">
              
          <div>
            <h3><%= project.name %></h3>
            <p><strong>GitHub:</strong> <a href="https://github.com/<%= project.name %>">Link</a></p>
            <p><strong>Votes:</strong> <%= project.net_votes %></p>
          </div>
          <div>
            <%= button_to "Vote", votes_path(project_id: project.id, vote: 1), method: :post, class: "vote-up" %>
          </div>
        </div>
        
      </li>
    <% end %>
  </ul>
</div> -->

<!-- <%== pagy_nav(@pagy) %> -->
