<h1>Welcome to Code Rank</h1>

<p>
  The place to rank open source software.
</p>
<p>
  Follow the progress here on <a href="https://github.com/gianniacquisto/code-rank">GitHub</a>.
</p>

<h2>List of Open Source technologies:</h2>

<div id="technologies">
  <ul class="project-list">
    <% @technologies.each do |technology| %>
      <li>
        <div class="project-card">

          <div>
            <div class="tech-header">
              <h3><%= technology.name %></h3>
              <div class="tech-meta">
                <%= render partial: "technologies/star_button", locals: { technology: technology, starred: technology.stars.exists?(user: Current.session&.user) } %>
                <span class="star-count" id="star-count-<%= technology.id %>"><%= technology.star_count %> star<%= "s" if technology.star_count != 1 %></span>
              </div>
            </div>
            <% if technology.github_url %>
              <p><strong>GitHub:</strong> <a href="<%= technology.github_url %>"><%= technology.github_url %></a></p>
            <% end %>
          </div>

        </div>

      </li>
    <% end %>
  </ul>
</div>
